{% extends "base.html" %}
{% block content %}
<h1 class="text-5xl font-bold pb-2">ASMR</h1>
<hr>
<div class="pt-2 flex flex-row flex-wrap space-x-4 space-y-4">
    <div class="pb-2 pt-6 pl-4">
        <h3 class="text-3xl pb-2">Sleep</h3>
        <ul>
            <li><a href="https://youtu.be/iPLhP0758gk" class="hover:font-bold text-indigo-500">ASMR Honey Ear & Face
                    Massage
                    🍯👂</a></li>
            <li><a href="https://youtu.be/hclLssaEgqE" class="hover:font-bold text-indigo-500">Close ASMR for Those Who
                    Don't Get
                    Tingles😌✨(Your
                    Eardrum
                    Massage, 4K)</a></li>
            <li><a href="https://youtu.be/Cph_wnCCV4Y" class="hover:font-bold text-indigo-500">ASMR No Talking for
                    Sleep</a></li>
            <li><a href="https://youtu.be/z5ayqGH0IDA" class="hover:font-bold text-indigo-500">ASMR INSIDE YOUR EARS -
                    Ear
                    Cleaning Triggers
                    Only. Ultra
                    Realistic. No Talking.</a></li>
            <li><a href="https://youtu.be/RjDcCuQjX30" class="hover:font-bold text-indigo-500">ASMR EARxperience – The
                    Ultimate Ear Cleaning – Deep. Thorough. Intense.</a></li>
        </ul>
    </div>
    <div>
        <h3 class="text-3xl pb-2 pt-2">Calming Down</h3>
        <ul>
            <li><a href="https://youtu.be/ZxQYQhlly3w" class="hover:font-bold text-indigo-500">ASMR Sensitive Ear
                    cleaning FOR
                    Tingles..</a></li>
            <li><a href="https://youtu.be/obokjDKRs-0" class="hover:font-bold text-indigo-500">ASMR XXL Brushing &
                    Brushes ONLY Compilation [NO TALKING] Tingle. Study. Sleep. Relax.</a></li>
        </ul>
    </div>
    <div>
        <h3 class="text-3xl pb-2 pt-2">Feeling Happier</h3>
        <ul>
            <li><a href="https://youtu.be/ABRgWern-wg" class="hover:font-bold text-indigo-500">ASMR This is Crystal
                    Clear Tingles! 😍👂💎(Earhole Massage, Nice Close Ear Triggers, Water sounds, 4K)</a></li>
        </ul>
    </div>
    <div>
        <h3 class="text-3xl pb-2 pt-2">Working</h3>
        <ul>
            <li><a href="https://youtu.be/Tn8IDh21AVY" class="hover:font-bold text-indigo-500">ASMR 15 Keyboards with
                    Fast Typing
                    for Studying &
                    Works🌞</a>
            </li>
            <li><a href="https://youtu.be/Go_Yp4IKIa4" class="hover:font-bold text-indigo-500">ASMR XXL Ear & Head
                    Massage [NO TALKING] Lotion, Sugar Scrub, Latex Gloves for Intense Tingles</a>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tailwind.css') }}">
{% endblock stylesheet %}