<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="FGm1x_FSr_yajPSjhfi0Y7Yl73A6tiCr_EAoC7IK6wc" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='tilt.js') }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    {% block stylesheet %}
    {% endblock stylesheet %}


    {% if title %}
    <title>{{ title }} | DigiDoc</title>
    {% else %}
    <title>DigiDoc</title>
    {% endif %}
</head>

<body>

    <nav id="navbar_top" class="navbar navbar-expand-md navbar-dark bg-steel sticky-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">DigiDoc</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{ url_for('home') }}" data-tilt data-tilt-scale="1.05">{% if
                        route == 'home' %}<b>Home</b>{% else %}Home{% endif %}</a>
                    <a class="nav-item nav-link" href="{{ url_for('about') }}" data-tilt data-tilt-scale="1.05">{% if
                        route == 'about' %}<b>About</b>{% else %}About{% endif %}</a>
                    <a class="nav-item nav-link" href="{{ url_for('disease_check') }}" data-tilt
                        data-tilt-scale="1.05">{% if route == 'disease_check' %}<b>DiseaseCheck</b>{% else
                        %}DiseaseCheck{% endif %}</a>
                    <a class="nav-item nav-link" href="{{ url_for('routines') }}" data-tilt data-tilt-scale="1.05">{% if
                        route == 'routines' %}<b>Routines</b>{% else %}Routines{% endif %}</a>
                    <a class="nav-item nav-link" href="{{ url_for('clinics') }}" data-tilt data-tilt-scale="1.05">{% if
                        route == 'clinics' %}<b>Clinics</b>{% else %}Clinics{% endif %}</a>
                </div>
                <marquee>
                    <a href="{{ url_for('contact') }}"><button type="button" class="btn btn-info btn-sm m-1" data-tilt
                            data-tilt-scale="1.05">{% if route == 'contact' %}<b>Contact</b>{% else %}Contact{% endif
                            %}</button></a>
                </marquee>
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="https://www.instagram.com/gitdigidoctor/
" target="_blank" data-tilt data-tilt-scale="1.05">Instagram</a>
                </div>
            </div>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                <br>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <br>
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='tilt.js') }}"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>