{% extends "base.html" %}
{% block content %}
<div data-aos='fade-right'>
    <h1 data-aos='fade-right'>Simple Exercises</h1>
    <hr data-aos='fade-right'>
    <div data-aos='fade-right' id='abs'>
        <h3 data-aos='fade-right'>Abs</h3>
        <div data-aos='fade-right'>
            <p>Stretches listed in the other routine section. For every 5 minutes do 2 sets of the following</p>
            <div>
                <ul>
                    <li>10 <a href="https://www.youtube.com/watch?v=SpY4UFrUkf4">narrow squats</a></li>
                    <li><a href="https://www.youtube.com/watch?v=9FGilxCbdz8">bicycle</a> 2 minutes</li>
                    <li>6 <a href="https://www.youtube.com/watch?v=iP2fjvG0g3w">V-ups</a></li>
                    <li><a href="https://www.youtube.com/watch?v=yeKv5oX_6GY">plank</a> 2 minutes</li>
                    <li><a href="https://www.youtube.com/watch?v=WoNCIBVLbgY">scissor kicks</a> 30 seconds</li>
                </ul>
            </div>
            <hr>
        </div>
        <div data-aos='fade-right'>
            <p>For every 15 minutes do 4 sets of the following</p>
            <div>
                <ul>
                    <li>5 <a href="https://www.youtube.com/watch?v=SpY4UFrUkf4">narrow squats</a></li>
                    <li><a href="https://www.youtube.com/watch?v=9FGilxCbdz8">bicycle</a> 2 minutes</li>
                    <li><a href="https://www.youtube.com/watch?v=yeKv5oX_6GY">plank</a> 1 minute</li>
                    <li>10 <a href="https://www.youtube.com/watch?v=iP2fjvG0g3w">V-ups</a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div data-aos='fade-right'>
            <p>5 minutes do 2 sets of the following</p>
            <div>
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=9FGilxCbdz8">bicycle</a> 1 minute</li>
                    <li>5 <a href="https://www.youtube.com/watch?v=iP2fjvG0g3w">V-ups</a></li>
                    <li><a href="https://www.youtube.com/watch?v=yeKv5oX_6GY">plank</a> 1 minute</li>
                    <li><a href="https://www.youtube.com/watch?v=WoNCIBVLbgY">scissor kicks</a> 15 sec</li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
    <div data-aos='fade-right' id='cardio'>
        <h3 data-aos='fade-right'>Cardio</h3>
        <div data-aos='fade-right'>
            <p>For every 15 minutes do 2 sets of the following</p>
            <div>
                <ul>
                    <li>30 <a href="https://www.youtube.com/watch?v=UpH7rm0cYbM">jumping jacks</a></li>
                    <li>30 <a href="https://www.youtube.com/watch?v=IODxDxX7oi4">push-ups</a></li>
                    <li>30 <a href="https://www.youtube.com/watch?v=jDwoBqPH0jk">sit-ups</a></li>
                    <li>jog in place 30 seconds</li>
                </ul>
            </div>
            <hr>
        </div>
        <div data-aos='fade-right'>
            <p>For every 15 minutes do 6 sets of the following</p>
            <div>
                <ul>
                    <li>25 <a href="https://www.youtube.com/watch?v=UpH7rm0cYbM">jumping jacks</a></li>
                    <li>25 <a href="https://www.youtube.com/watch?v=IODxDxX7oi4">push-ups</a></li>
                    <li>25 <a href="https://www.youtube.com/watch?v=jDwoBqPH0jk">sit-ups</a></li>
                    <li>jog in place 25 sec</li>
                </ul>
            </div>
            <hr>
        </div>
        <div data-aos='fade-right'>
            <p>5 minutes do 2 sets of the following</p>
            <div>
                <ul>
                    <li>15 <a href="https://www.youtube.com/watch?v=UpH7rm0cYbM">jumping jacks</a></li>
                    <li>15 <a href="https://www.youtube.com/watch?v=IODxDxX7oi4">push-ups</a></li>
                    <li>15 <a href="https://www.youtube.com/watch?v=jDwoBqPH0jk">sit-ups</a></li>
                    <li>jog in place 15 sec</li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
</div>
<div>
    <a href="{{ url_for('stretching') }}"><img
            src="https://image.freepik.com/free-vector/happy-man-exercising-park_113065-39.jpg" alt="Stretching"
            data-aos='fade-right' style="width: 100%;object-fit: contain;"></a>
</div>
{% endblock content %}