{% extends "base.html" %}
{% block content %}
{% if request.MOBILE %}
<div class="con"><a href="{{ url_for('stretching') }}"><img
            src="https://image.freepik.com/free-vector/happy-man-exercising-park_113065-39.jpg" alt="Stretching"
            data-aos='fade-right' style="width: 100%;object-fit: contain;" title='Stretching'></a>
</div>
<div class="con"><a href="{{ url_for('skincare') }}">
        <img src="https://image.freepik.com/free-vector/skincare-flat-cartoon-composition-with-young-woman-examining-her-face-with-magnifier_1284-54555.jpg"
            alt="Skincare" data-aos='fade-right' style="width: 100%;object-fit: contain;" title='Skincare'></a></div>
<div class="con"><a href="{{ url_for('simple_exercises') }}">
        <img src="https://image.freepik.com/free-vector/pilates-concept-illustration_114360-1111.jpg" alt="Exercises"
            data-aos='fade-right' style="width: 100%;object-fit: contain;" title='Simple Exercises'></a></div>
{% else %}
<div class="gridc">
    <div class="con gridci" data-tilt data-tilt-scale="1.03"><a href="{{ url_for('stretching') }}"><img
                src="https://image.freepik.com/free-vector/happy-man-exercising-park_113065-39.jpg" alt="Stretching"
                data-aos='fade-right' height="588" width="auto" title='Stretching'></a>
    </div>
    <div class="con gridci" data-tilt data-tilt-scale="1.03"><a href="{{ url_for('skincare') }}">
            <img src="https://image.freepik.com/free-vector/skincare-flat-cartoon-composition-with-young-woman-examining-her-face-with-magnifier_1284-54555.jpg"
                alt="Skincare" data-aos='fade-right' title='Skincare'></a></div>
    <div class="con gridci" data-tilt data-tilt-scale="1.03"><a href="{{ url_for('simple_exercises') }}">
            <img src="https://image.freepik.com/free-vector/pilates-concept-illustration_114360-1111.jpg"
                alt="Exercises" data-aos='fade-right' title='Simple Exercises'></a></div>
</div>
{% endif %}
{% endblock content %}