{% extends "base.html" %}
{% block content %}
<h1>Skincare Practices</h1>
<hr>
<ul class="lf" data-aos='fade-right'>
    <li>This is best done after showering</li>
    <li>Rinse your face to first get of dirt</li>
    <li>(Optional) put on a face mask and follow the mask directions</li>
    <li>(Once a week only) use face scrub to scrub any germs under your pores. concentrate this on your cheeks, nose,
        and chin.</li>
    <li>Dab your face lightly until your face is damp, but not dry.
    </li>
    <li>apply face moisturizer(make sure there are excessive amounts on your cheek and in the crevice around your nose).
    </li>
    <li>Keep in mind that only the face rinsing is necessary if you are doing a full coverage makeup look using primer.
    </li>
</ul>
{% endblock content %}