{% extends "base.html" %}
{% block content %}
<h1 class="text-5xl font-bold pb-2">Easy Stretches</h1>
<hr>
<ul class="lf pt-2 list-disc" data-aos='fade-right'>
    <li><a href="https://www.youtube.com/watch?v=UpH7rm0cYbM" class="text-indigo-500">Jumping Jacks</a></li>
    <li>Full Leg Stretch</li>
    <li>Light Jog</li>
    <li><a href="https://www.youtube.com/watch?v=0aQ17FA1nck" class="text-indigo-500">Quad Stretch</a></li>
    <li><a href="https://www.youtube.com/watch?v=yqgsm8wzcJw" class="text-indigo-500">Runner’s Lunge</a></li>
    <li><a href="https://www.youtube.com/watch?v=ayRU3ecmPbI" class="text-indigo-500">Downward Dog</a></li>
</ul>
{% endblock content %}