{% extends "base.html" %}
{% block content %}
<h1>Easy Stretches</h1>
<hr>
<ul class="lf" data-aos='fade-right'>
    <li><a href="https://www.youtube.com/watch?v=UpH7rm0cYbM">Jumping Jacks</a></li>
    <li>Full Leg Stretch</li>
    <li>Light Jog</li>
    <li><a href="https://www.youtube.com/watch?v=0aQ17FA1nck">Quad Stretch</a></li>
    <li><a href="https://www.youtube.com/watch?v=yqgsm8wzcJw">Runner’s Lunge</a></li>
    <li><a href="https://www.youtube.com/watch?v=ayRU3ecmPbI">Downward Dog</a></li>
</ul>
{% endblock content %}